<h1>Edit Plant</h1>

<% if policy(Plant).create? %>
  <%= link_to "New plant", new_plant_path %>
  <%= simple_form_for(@plant) do |f| %>
    <%= f.input :species %>
    <%= f.input :status %>
    <%= f.input :pricing %>

    <%= f.submit %>

  <% end %>
<% end %>

<%= link_to "Back to Plants", plants_path %>
