<div class ="container">
  <h1>Plants List</h1>
  <div>
  <%= link_to "login", new_user_session_path  %>
  <%= link_to "dashboard", dashboards_path  %>
  </div>

<div>
  <ul>
  <% @plants.each do |plant| %>
    <li>
      <%= link_to(plant_path(plant)) do %>
      <%= plant.species %>
      <% end %>
      <%= plant.status %>
      <%= plant.pricing %>
      <% if policy(plant).edit? %>
    <%= link_to "Update", edit_plant_path(plant) %>
  <% end %>
    </li>
      <% end %>
 </ul>
</div>

<div>
      <%= link_to "Create a Plant", new_plant_path %>
</div>

</div>
