<div class="container">
  <div class="search-index">
      <div class="search-form-control form-group">
        <%= form_tag plants_path, method: :get do %>   
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
        placeholder: "Find a plant by name or type 'available'"%>
        <%= submit_tag "Search", class: "btn btn-flat" %>
        <% end %>
      </div>
  </div>
</div>


<div class ="container">

      <div class="plants-cards">

        <% @plants.each do |plant| %>
          <div class="col-4">
            <%= link_to(plant_path(plant), class:"card-trip") do %>

              <% if plant.photo.attached? %>
                <%= cl_image_tag plant.photo.key, height: 300, width: 400, crop: :fill %>
              <% else %>
                <%= image_tag 'pefeasa1eawrmiyvdhh5' %>
              <% end %>

              <div class="card-trip-infos">
                <div>
                  <p class="title"><%= plant.species %></p>
                  <p><%= plant.status %></p>
                </div>
                <h2 class="card-trip-pricing"><%= plant.pricing %>€/month</h2>
                <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
                <div>
                  <% if plant.user.photo.attached? %>
                    <%= cl_image_tag plant.user.photo.key, height: 38, width: 38, class: "card-trip-user avatar-bordered"%>
                  <% else %>
                      <%= cl_image_tag 'esk2mumozchcvhm2zpul', height: 38, width: 38, class: "card-trip-user avatar-bordered"%>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>

  
      <div id="map"
          style="width: 100%; height: 100vh;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>

      