<h1>New Plant</h1>

<%= simple_form_for(@plant) do |f| %>
  <%= f.input :species %>
  <%= f.input :Status %>
  <%= f.input :Pricing %>

  <%= f.submit %>

<% end %>

<%= link_to "Back to Plants", plants_path %>
