<%= image_tag @plant.photo, height: 300, width: 400, crop: :fill %>

<h1><%= @plant.species %></h1>
<div>
  <p> Status: <%= @plant.status %> </p>
  <p> Price: <%= @plant.pricing %> </p>
</div>

<div>
<%= simple_form_for( [@plant, @rental], remote: true) do |f| %>
<%= f.input :start_date %>
<%= f.input :end_date %>
<%= f.submit %>
<% end %>
</div>
<%= link_to "Back to Plants", plants_path %>

