<h1><%= @plant.species %></h1>
<div>

  <p> Status: <%= @plant.status %> </p>
  <p> Price: <%= @plant.pricing %> </p>

<%= link_to "Rent this plant", rentals_path %>
<br>
<%= link_to "Back to Plants", plants_path %>

</div>
