<%= image_tag @plant.photo, height: 300, width: 400, crop: :fill %>
<h1><%= @plant.species %></h1>
<div>

  <p> Status: <%= @plant.status %> </p>
  <p> Price: <%= @plant.pricing %> </p>

<button class = "btn btn-primary" >
<%#= link_to "Book a Plant", new_rental_path %>
</button>
<%= link_to "Back to Plants", plants_path %>

</div>
