<div class="container d-flex flex-row">

  <div class="row align-self-start">
    <div class="flex-column">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-other-tab" data-toggle="pill" href="#v-pills-other" role="tab" aria-controls="v-pills-other" aria-selected="false">All my plants</a>
        <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">My rentals</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">My rented plants</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">My booked plants</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">My history</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
        <% @rentals.sort_by{ |rental| rental.end_date }.reverse.each do |rental| %>
          <div class="notification">
            <% if rental.plant.photo.attached? %>
              <%= cl_image_tag rental.plant.photo.key, height: 56, class:"avatar-large" %>
            <% else %>
              <%= cl_image_tag "plant-icon.jpeg", class:"avatar-large" %>
            <% end %>
            <div class="notification-content">
              <p>Duration : <%= (rental.end_date - rental.start_date) / (60*60*24) %> Days/p>
              <p>Start date : <%= rental.start_date.day %> / <%= rental.start_date.month %> / <%= rental.start_date.year %></p>
              <p>End date : <%= rental.end_date.day %> / <%= rental.end_date.month %> / <%= rental.end_date.year %></p>
              <p>Cost : <%= rental.cost %></p>
            </div>
            <div class="notification-actions">
              <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
              <a href="#">Delete <i class="far fa-trash-alt"></i></a>
            </div>
          </div>
        <% end %>
      </div>

      <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
        <% @my_rentals.sort_by{ |rental| rental.end_date }.reverse.each do |rental| %>
              <% unless rental.start_date >= DateTime.now.to_date || rental.end_date <= DateTime.now.to_date %>
                <div class="notification">
                  <% if rental.plant.photo.attached? %>
                    <%= cl_image_tag rental.plant.photo.key, height: 56, class:"avatar-large" %>
                  <% else %>
                    <%= cl_image_tag 'pefeasa1eawrmiyvdhh5', class:"avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <p>Duration : <%= (rental.end_date - rental.start_date) / (60*60*24) %> Jours</p>
                    <p>Start date : <%= rental.start_date.day %> / <%= rental.start_date.month %> / <%= rental.start_date.year %></p>
                    <p>End date : <%= rental.end_date.day %> / <%= rental.end_date.month %> / <%= rental.end_date.year %></p>
                    <p>Cost : <%= rental.cost %></p>
                  </div>
                  <div class="notification-actions">
                    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
                    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              <% end %>
            <% end %>
      </div>

      <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
        <% @my_rentals.sort_by{ |rental| rental.end_date }.reverse.each do |rental| %>
              <% unless rental.start_date <= DateTime.now.to_date%>
                <div class="notification">
                  <% if rental.plant.photo.attached? %>
                    <%= cl_image_tag rental.plant.photo.key, height: 56, class:"avatar-large" %>
                  <% else %>
                    <%= cl_image_tag 'pefeasa1eawrmiyvdhh5', class:"avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <p>Duration : <%= (rental.end_date - rental.start_date) / (60*60*24) %> Jours</p>
                    <p>Start date : <%= rental.start_date.day %> / <%= rental.start_date.month %> / <%= rental.start_date.year %></p>
                    <p>End date : <%= rental.end_date.day %> / <%= rental.end_date.month %> / <%= rental.end_date.year %></p>
                    <p>Cost : <%= rental.cost %></p>
                  </div>
                  <div class="notification-actions">
                    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
                    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              <% end %>
            <% end %>
      </div>

      <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
        <% @my_rentals.sort_by{ |rental| rental.end_date }.reverse.each do |rental| %>
              <% unless rental.end_date >= DateTime.now.to_date %>
                <div class="notification">
                  <% if rental.plant.photo.attached? %>
                    <%= cl_image_tag rental.plant.photo.key, height: 56, class:"avatar-large" %>
                  <% else %>
                    <%= cl_image_tag 'pefeasa1eawrmiyvdhh5', class:"avatar-large" %>
                  <% end %>
                  <div class="notification-content">
                    <p>Duration : <%= (rental.end_date - rental.start_date) / (60*60*24) %> Jours</p>
                    <p>Start date : <%= rental.start_date.day %> / <%= rental.start_date.month %> / <%= rental.start_date.year %></p>
                    <p>End date : <%= rental.end_date.day %> / <%= rental.end_date.month %> / <%= rental.end_date.year %></p>
                    <p>Cost : <%= rental.cost %></p>
                  </div>
                  <div class="notification-actions">
                    <a href="#">Edit <i class="fas fa-pencil-alt"></i></a>
                    <a href="#">Delete <i class="far fa-trash-alt"></i></a>
                  </div>
                </div>
              <% end %>
            <% end %>
      </div>

      <div class="tab-pane fade" id="v-pills-other" role="tabpanel" aria-labelledby="v-pills-other-tab">
        <% @my_plants.each do |plant| %>
          <div class="col-3">
                <%= link_to(plant_path(plant), class:"card-trip") do %>
                  <% if plant.photo.attached? %>
                    <%= cl_image_tag plant.photo.key, height: 300, width: 400, crop: :fill %>
                  <% else %>
                    <%= cl_image_tag 'pefeasa1eawrmiyvdhh5' %>
                  <% end %>
                  <div class="card-trip-infos">
                    <div>
                      <p class="title"><%= plant.species %></p>
                      <p><%= plant.status %></p>
                    </div>
                    <h2 class="card-trip-pricing"><%= plant.pricing %>€/month</h2>
                    <!-- <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" /> -->
                    <div>
                      <% if current_user.photo.attached? %>
                        <%= cl_image_tag current_user.photo.key, height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown" %>
                      <% else %>
                        <%= cl_image_tag 'esk2mumozchcvhm2zpul', height: 40, width: 40, class: "avatar dropdown-toggle", id: "navbarDropdown" %>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>